---
import Layout from "../layouts/LayoutProyects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ProjectsDetails from "../components/ProjectDetailAdmin.astro";
import Header from "../components/HeaderProyects.astro";
---

<Layout title="Jair Mora | Portafolio" descripcion="">
  <main class="px-4">
    <SectionContainer >
      <Header />
      <ProjectsDetails />
    </SectionContainer>
  </main>
</Layout>
