---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Proyects from "../components/Proyects.astro";
import Estudios from "../components/Estudios.astro";
import AboutMe from "../components/AboutMe.astro";

import GithubIcon from "../icons/Github.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import PlatziIcon from "../icons/Platzi.astro";
import MailIcon from "../icons/Mail.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import SchoolIcon from "../icons/School.astro";
import CodeIcon from "../icons/Code.astro";
import UserIcon from "../icons/User.astro";
---

<Layout title="Jair Mora | Portafolio" descripcion="">
  <main class="px-4">
    <SectionContainer class="pt-28 pb-28">
      <img
        class="rounded-full size-12 mb-4"
        src="https://media.licdn.com/dms/image/D5603AQEn4x7MZH75HA/profile-displayphoto-shrink_800_800/0/1684459285192?e=2147483647&v=beta&t=XGrisDEpBgjLL_WpEWKpIzeaDMnPGMqgyRA66w_Z__U"
        alt="Jair foto"
      />
      <div class="md:flex md:pb-6 pb-3 lg:pb-10 ">
        <h1
          class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-grow-0 gap-x-4 mb-1"
        >
          Hola! Soy Jair
        </h1>
        <a
          href="https://www.linkedin.com/in/jair-martin-del-campo-a61647265/"
          target="_blank"
          rel="noopener"
          class="md:ml-4 md:mt-3"
        >
          <Badge><span class="text-xs md:text-sm">Disponible para trabajar</span></Badge>
        </a>
      </div>

      <h2 class="text-lg lg:text-2xl text-wrap mb-4 text-white">
        Estudiante de <span class="text-yellow-200/90"
          >Ingeniería de Desarrollo de Software</span
        >, especializandome en el <span class="text-blue-600/90">Backend</span>.
        He trabajado como becario donde he adquirido valiosa
        <span class="text-yellow-200/90">Experiencia</span> que ha contribuido al
        crecimiento de mis habilidades y conocimientos. Aunque mi enfoque principal
        es el Backend, también poseo una buena comprensión del Desarollo <span
          class="text-blue-600/90"
        >
          Frontend</span
        >
      </h2>
      <nav class="flex gap-4 mb-4 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/jair-martin-del-campo-a61647265/"
        >
          <LinkedinIcon class="size-4 md:size-6 " />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/JairMora21" c>
          <GithubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="https://platzi.com/p/jairantonio21/">
          <PlatziIcon class="size-4 md:size-6" />
          Platzi
        </SocialPill>
        <SocialPill href="https://github.com/JairMora21">
          <MailIcon class="size-4 md:size-6" />
          jairantonio21@hotmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer class="mb-10" id="sobre-mi">
      <h2 class="text-2xl font-semibold mb-3 flex gap-x-3 item-center">
        <UserIcon class="sixe-8 mt-1" />
        Sobre Mi
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-3 flex gap-x-3 item-center">
        <BriefcaseIcon class="sixe-8 mt-1" />
        Experencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="estudios" class="mb-10">
      <h2 class="text-2xl font-semibold mb-3 flex gap-x-3 item-center">
        <SchoolIcon class="sixe-8 mt-1" />
        Estudios y Certificados
      </h2>
      <Estudios />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibold mb-3 flex gap-x-3 item-center">
        <CodeIcon class="sixe-8 mt-1" />
        Proyectos
      </h2>
      <Proyects />
    </SectionContainer>
  </main>
</Layout>
