---
import Layout from "../layouts/LayoutProyects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ProjectsDetails from "../components/ProjectDetailsSoccer.astro";
---

<Layout title="Jair Mora | Portafolio" descripcion="">
  <main class="px-4">
    <SectionContainer >
      <ProjectsDetails />
    </SectionContainer>
  </main>
</Layout>
