---
import SocialPill from "../components/SocialPillTecno.astro";

import Angular from "../icons2/Angular.astro";
import Boostrap from "../icons2/Boostrap.astro";
import Css from "../icons2/Css.astro";
import CSharp from "../icons2/CSharp.astro";
import Github from "../icons2/Github.astro";
import Html5 from "../icons2/Html.astro";
import Git from "../icons2/Git.astro";
import Java from "../icons2/Java.astro";
import JavaScript from "../icons2/JavaScript.astro";
import TS from "../icons2/TypeScript.astro";
import NET from "../icons2/Net.astro";
import SQLServer from "../icons2/SQLServer.astro";
import Mongo from "../icons2/Mongo.astro";
import NestJs from "../icons2/Nest.astro";
import TailWind from "../icons2/TailWind.astro";


import Check from "../icons/Check.astro";
import DataBase from "../icons/DataBase.astro";
import Api from "../icons/Api.astro";
import MVC from "../icons/Arquitectura.astro";
import DataBaseEdit from "../icons/DataBaseEdit.astro";
import CodeIcon from "../icons/Code.astro";
import Frontend from "../icons/Design.astro"
import Backend from "../icons/ComputerCode.astro"
import More from "../icons/More.astro"
import AstroIcon from "../icons2/Astro.astro";

---

<div>
  <div class="mb-3">
    <h4 class="text-xl font-semibold text-yellow-200 mb-1">Idiomas</h4>
    <ul class="max-w-md space-y-1 list-inside">
      <li class="flex items-center ">
        <Check />
        <span class="text-lg">Español - Nativo</span>
      </li>
      <li class="flex items-center">
        <Check />
        <span class="text-lg">Ingles</span>
      </li>
    </ul>
  </div>
  <div>
    <h4 class="text-xl font-semibold text-yellow-200 mb-1">Tecnologias</h4>
    <div>
      <div class="flex">
        <CodeIcon class="size-4 md:size-6" />
        <h6 class="font-bold text-white mb-1 ml-2 text-lg ">
          Lenguajes de programacion
        </h6>
      </div>
      <nav class="flex gap-4 mb-4 flex-wrap mt-2">
        <SocialPill>
          <CSharp />
          C#
        </SocialPill>
        <SocialPill>
          <TS />
          TypeScript
        </SocialPill>
      </nav>
    </div>
    <div>
      <div class="flex">
        <Backend class="size-3 md:size-5" />
        <h6 class="font-bold text-white mb-1 ml-2 text-lg">
          Backend
        </h6>
      </div>      <nav class="flex gap-4 mb-4 flex-wrap mt-2">
        <SocialPill>
          <Api />
          RESTful API
        </SocialPill>
        <SocialPill>
          <NET />
          .NET
        </SocialPill>
        <SocialPill>
          <NET />
          ASP.NET
        </SocialPill>
        <SocialPill>
          <NET />
          Entity Framework
        </SocialPill>
        <SocialPill>
          <SQLServer />
          SQL Server
        </SocialPill>
        <SocialPill>
          <DataBase />
          Base de datos - SQL
        </SocialPill>
        <SocialPill>
          <DataBaseEdit />
          Stored Procedures
        </SocialPill>
        <SocialPill>
          <NestJs />
          NestJs
        </SocialPill>
        <SocialPill>
          <Mongo />
          MongoDB
        </SocialPill>
      </nav>
    </div>
  </div>
  <div>
    <div class="flex">
      <Frontend class="size-3 md:size-5" />
      <h6 class="font-bold text-white mb-1 ml-2 text-lg">
        Frontend
      </h6>
    </div>    <nav class="flex gap-4 mb-4 flex-wrap mt-2">
      <SocialPill>
        <Angular />
        Angular
      </SocialPill>
      <SocialPill>
        <Html5 />
        HTML5
      </SocialPill>
      <SocialPill>
        <Css />
        CSS
      </SocialPill>
      <SocialPill>
        <TailWind />
        Tailwind
      </SocialPill>
      <SocialPill>
        <Boostrap />
        Bootstrap
      </SocialPill>
    </nav>
  </div>
  <div>
    <div class="flex">
      <More class="size-4 md:size-6" />
      <h6 class="font-bold text-white mb-1 ml-2 text-lg">
        Adicionales
      </h6>
    </div>    <nav class="flex gap-4 mb-4 flex-wrap mt-2">
      <SocialPill>
        <Github />
        GitHub
      </SocialPill>
      <SocialPill>
        <Git />
        Git
      </SocialPill>
      <SocialPill>
        <MVC />
        MVC
      </SocialPill>
    </nav>
  </div>
</div>
