<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-sky-100/90dark:text-gray-500"
      >Febrero 2024 - Actualmente</time
    >
    <h3 class="text-lg font-semibold text-yellow-200">
      Dessarollador Web - Eversoft
    </h3>
    <p class="mb-4 text-base font-normal text-gray-200 text-pretty">
      He tenido la oportunidad de trabajar en el desarrollo y mejora de una aplicación utilizada internacionalmente, donde usé Angular, Nest.js, y MongoDB para optimizar tanto el procesamiento como la interfaz de usuario. Este proyecto no solo me permitió interactuar estrechamente con los clientes para entender sus necesidades, sino que también me aseguré de que nuestras soluciones realmente cumplieran con sus expectativas.
    </p>
    <p class="mb-4 text-base font-normal text-gray-200 text-pretty">
      Además de esto, he participado en varios proyectos más, incluyendo la modernización de un sistema antiguo a Angular, lo que mejoró significativamente su funcionalidad y escalabilidad.
    </p>
    
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-sky-100/90dark:text-gray-500"
        >Junio 2023 - Diciembre 2023</time
      >
      <h3 class="text-lg font-semibold text-yellow-200">
        Becario en Dessarollo Web - Cklass
      </h3>
      <p class="mb-4 text-base font-normal text-gray-200 text-pretty">
        Tuve la oportunidad de desarrollar proyectos web desde 0 junto a mi
        equipo, los cuales desempeñaron un papel crucial en la automatización de
        procesos internos de la empresa. Además, tuve una ligera participacion
        en el desarrollo de aplicaciones móviles y en el mantenimiento de
        servicios existentes
      </p>
    </li>
  </li>
</ol>
