<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-sky-100/90dark:text-gray-500"
      >Junio 2023 - Diciembre 2023</time
    >
    <h3 class="text-lg font-semibold text-yellow-200">
      Becario en Desarollo Web - Cklass
    </h3>
    <p class="mb-4 text-base font-normal text-gray-200 text-pretty">
      En mi anterior empleo tuve la oportunidad de desarrollar proyectos web
      desde 0 junto a mi equipo, los cuales desempe침aron un papel crucial en la
      automatizaci칩n de procesos internos de la empresa. Adem치s, tuve una ligera
      participacion en el desarrollo de aplicaciones m칩viles y en el
      mantenimiento de servicios existentes
    </p>
  </li>
</ol>
