<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-sky-100/90dark:text-gray-500"
      >Febrero 2024 - Actualmente</time
    >
    <h3 class="text-lg font-semibold text-yellow-200">
      Dessarollador Web - Eversoft
    </h3>
    <p class="mb-4 text-base font-normal text-gray-200 text-pretty">
      En Eversoft, participé en el desarrollo y mejora de <span class="font-bold">Vivook</span>, una plataforma web utilizada por miles de usuarios para la administración de edificios, residenciales y condominios. Trabajé junto al equipo de <span class="font-bold">UX/UI</span> para <span class="font-bold">modernizar su diseño</span> y agregar nuevas funcionalidades, además de colaborar en la migración tecnológica de <span class="font-bold">Mithril</span> a <span class="font-bold">Angular</span> bajo un enfoque ágil con <span class="font-bold">Scrum</span>.
    </p>
    <p class="mb-4 text-base font-normal text-gray-200 text-pretty">
      Al mismo tiempo, también contribuí al desarrollo de un <span class="font-bold">CRM interno</span> empleando <span class="font-bold">Nest.js</span>, <span class="font-bold">Angular</span> y <span class="font-bold">MongoDB</span>. En este proyecto, mi principal responsabilidad fue optimizar el filtrado y organización de la información de clientes, así como implementar otras funcionalidades clave para <span class="font-bold">mejorar la eficiencia</span> en la gestión de datos.
    </p>
       
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-sky-100/90dark:text-gray-500"
        >Junio 2023 - Diciembre 2023</time
      >
      <h3 class="text-lg font-semibold text-yellow-200">
        Becario en Dessarollo Web - Cklass
      </h3>
      <p class="mb-4 text-base font-normal text-gray-200 text-pretty">
        Tuve la oportunidad de <span class="font-bold">desarrollar proyectos web desde cero</span> junto a mi
        <span class="font-bold">equipo</span>, los cuales desempeñaron un papel crucial en la 
        <span class="font-bold">automatización de procesos internos</span> de la empresa. Además, tuve una ligera participación
        en el desarrollo de <span class="font-bold">aplicaciones móviles</span>, trabajé con 
        <span class="font-bold">C#</span> y <span class="font-bold">SQL</span>, y contribuí al 
        <span class="font-bold">mantenimiento de servicios existentes</span>.
      </p>
      
    </li>
  </li>
</ol>
